{% extends 'base.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}
    <h1>Book</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ book.id }}</td>
            </tr>
            <tr>
                <th>title</th>
                <td>{{ book.title }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ book.author }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ book.genre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ book.description }}</td>
            </tr>
            <tr>
                <th>PublicationDate</th>
                <td>{{ book.publicationDate ? book.publicationDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>PageCount</th>
                <td>{{ book.pageCount }}</td>
            </tr>
            <tr>
                <th>CoverImage</th>
                <td>{{ book.coverImage }}</td>
            </tr>

        </tbody>
    </table>

    {% if book.averageRating %}
        <p><strong>Средний рейтинг:</strong> {{ book.averageRating }} / 5</p>
    {% else %}
        <p>Эта книга еще не имеет рейтинга.</p>
    {% endif %}

    <a href="{{ path('app_book_index') }}">back to list</a>

    <a href="{{ path('app_book_edit', {'id': book.id}) }}">edit</a>

    {{ include('book/_delete_form.html.twig') }}

    <h2>Отзывы</h2>
    {% for review in book.reviews %}
        <div class="border p-3 mb-2">
            <p><strong>Оценка:</strong> {{ review.rating }} / 5</p>
            <p><strong>Отзыв:</strong> {{ review.comment }}</p>
            <small>Автор: {{ review.user.email }} | Дата: {{ review.createdAt|date('d.m.Y H:i') }}</small>
        </div>
    {% else %}
        <p>Пока нет отзывов для этой книги.</p>
    {% endfor %}

    <a href="{{ path('app_book_add_review', {'id': book.id}) }}" class="btn btn-primary mt-3">Добавить отзыв</a>
{% endblock %}
