{% extends 'base.html.twig' %}

{% block title %}Оставить отзыв{% endblock %}

{% block body %}
    <h1>Оставить отзыв для книги "{{ book.title }}"</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">Сохранить</button>
    {{ form_end(form) }}

    <a href="{{ path('app_book_show', {'id': book.id}) }}" class="btn btn-secondary mt-3">Назад</a>
{% endblock %}
