{% extends 'base.html.twig' %}

{% block title %}Оставить отзыв{% endblock %}

{% block body %}

    <div class="container mt-5 mb-5" style="height: 72.5vh">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body mt-5 mb-5">
                        <h1>Оставить отзыв для книги "{{ book.title }}"</h1>

                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        {{ form_end(form) }}

                        <a href="{{ path('app_book_show', {'id': book.id}) }}" class="btn btn-secondary mt-3">Назад</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
